<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1>Welcome to {{ title }}!</h1>

  <div class="Poker">
      <h1 id="main{{playerIndex}}" *ngFor="let player of pokerHand; let playerIndex = index">{{player.Name}}
          <div *ngFor="let card of player.Cards; let cardIndex=index">
            <span>Card{{cardIndex}}</span>
            
            <!-- Set the suits randomly -->
            <select (change)="handleSuitChange(playerIndex,cardIndex,$event.target.value)" [value]='card.Suit'>
              <!-- ngFor to set other options -->
              <option  *ngFor="let suit of suits;">
                {{suit}}
              </option>
            </select>
            
            <!-- Set the suits randomly -->
            <select (change)="handleRankChange(playerIndex,cardIndex,$event.target.value)" [value]='card.Rank'>
              <!-- ngF  or to set other options -->
              <option *ngFor="let rank of ranks;">
                {{rank}}
              </option>
            </select>
          </div>
        </h1>
  </div>

  <button (click)="FindWinner()">Find Winner</button>
  <button (click)="AddPlayer()">Add Player</button>


</div>


<router-outlet></router-outlet>
